body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

section {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#centerbox {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

#carouselimg {
  margin: 10px;
}

.wrap-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.dot {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.active {
  background-color: red;
  border: none;
}